.justify {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}

.container {
  background-color: beige;
}

.div {
  padding: 1%;
}

.stack-element, .queue-element {
  height: 40px;
  width: 100%;
}

.light {
   background-color: lightblue;
   color: white;
 }

.dark {
   background-color: darkblue;
 }

 .p {
   color: white;
 }

 .overflow {
   background-color: red;
 }