.soloBorder {
    border: 1px solid green;
    height: 50px;
        width: 450px;
        padding: 10px;
        margin: 10px 0px;
        border-radius: 5px;
        
}

.input {
    width: 450px;
    margin: 10px 0px;
}