
$back-color-stack: #eee;

#stack-section .stack {
  height: 50px;
  text-align: center;
  padding: 20px;
  margin: 5px auto;
  border-radius: 5px;
}

.grey {
  background-color: $back-color-stack;
}

.blue {
  background-color: blue;
}
