.container {
  display: flex;
  flex-direction: column;
}

.btn-box {
  width: 300px;
  height: 50px;
  padding: 10px auto;
  margin: 5px 0;
  border-radius: 5px;
}

#inputline {
  width: 300px;
  height: 50px;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}