.stacked-element{
  background-color: $grey;
}

#add{
  background-color: $blue;
  color: white;
}

#take{
  background-color: $red;
  color: white;
}

.stack{
  background-color: $stack-back;
  border: 1px solid $red;
  span{
    color: $red;
  }
}