.round{
  width: 30%;
  border-radius: 4px;
  height: 6vh;
  margin-top: 1.5vh;
}
.stack{
  width: 30%;
  height: 6vh;
  margin-top: 1.5vh;
}

.btn{
  width: 30%;
  height: 6vh;
  margin-top: 1.5vh;
}

#stackcontainer{
  width:30%;
  margin-top: 1.5vh;
}